services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "9093:9093"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      # Listeners
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9093,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9093,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      # Replication settings
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1


  questdb:
    image: questdb/questdb:9.1.1
    container_name: questdb
    ports:
      - "9000:9000"    # UI
      - "9009:9009"    # ILP
      - "8812:8812"    # Postgres Wire
    volumes:
      - questdb_data:/root/.questdb
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000"]
      interval: 10s
      timeout: 5s
      retries: 5

  producer:
    build: ./producer
    container_name: producer
    depends_on:
      - kafka
    ports:
      - "8000:8000"
    environment:
      KAFKA_SERVER: kafka:9093

  consumer:
    build: ./consumer
    container_name: consumer
    depends_on:
      - kafka
      - questdb
    environment:
      KAFKA_SERVER: kafka:9093
      QUESTDB_HOST: questdb
      QUESTDB_PORT: 8812

volumes:
  questdb_data:
    driver: local